#btn-statis{
    margin:  -30px 14px 49px 350px;
}
#btn-statis a{
    padding: 5.5px;  
    margin-left: 29px;
}
// #field-filter{
//     // margin-right: -150px;
// }
#wrapper-field{
    padding: 0px 330px;
    font-size: 1.2rem;
}
#option-category{
    font-size: 1rem;
}
#title, #title-time{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: rgb(16, 108, 247)
}
#title-time{
    font-size: 1.2rem ;
}
.card{
    margin-left: -20px;
}